* {
    box-sizing: border-box;
}
body{
    background: grey;
}
.wrapper {
    width: 800px; 
    margin: 0 auto
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

ul li {
    width: 50%;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: grey;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid black;
}
.flex{
    display: flex;
}
span{
    margin-right: 10px;
}


#newblock{
    margin-left: 3px;
    padding: 30px 40px;
    text-align: center;
    background: black;
    display: none;
    width: 50%;
    color: white;
}

input {
    border: 1px solid black;
    background: grey;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}


ul li:nth-child() {
    background: whitesmoke;

}

ul li:hover {
    background: dimgray;
}

ul li.checked {
    background: grey;
    color:red;
    text-decoration: line-through;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color:red;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color:red;
    color:black;
}

.header {
    width: 50%;
    background-color: black;
    padding: 30px 40px;
    color:white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}



/*.add {
    padding: 8px;
    width: 25%;
    background: black;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;

}

.add:hover {
    background-color: grey;
}*/